.ButtonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}


.CreateButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 15px;
    border-radius: 100%;
    border: none;
    background-color: lightblue;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;

    /* Animación suave */
    transition: transform 0.4s ease-in-out, background-color 0.3s ease;
}

.CreateButton:hover {
    cursor: pointer;
    background-color: rgb(23, 81, 100);

    /* Rotación */
    transform: rotate(200deg);
}