:root{
    display: flex;
    width: 100%;
    height: 100%;
}

.App{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;

}